services:
  mssql-2017:
    image: mcr.microsoft.com/mssql/server:2017-latest
    container_name: mssql-2017
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong@Passw0rd
      - MSSQL_COLLATION=SQL_Latin1_General_CP1_CI_AS
      - MSSQL_PID=Express
    expose:
      - '1433'
    ports:
      - "1433:1433"
    volumes:
      # - /etc/localtime:/etc/localtime:ro # linux only
      - ./data/mssql-2017:/var/opt/mssql
      - ./data/backup:/backup
    restart: unless-stopped
    working_dir: /var/opt/mssql
